/* -----BASIS FOR HELE SITET---------------------------------------------------*/
*{
    margin: 0px;
    box-sizing: border-box;
    text-decoration: none;
}

body{
    background-color: #FFFFFF;
}

@font-face{
    font-family: Inter;
    src:url(Inter-VariableFont_slnt,wght.ttf)
}
/* -----OVERSKRIFTER---------------------------------------------------------*/

h1{/* overskriften for hvert html-dokument */
    font-family: Inter;
    font-weight: 300;
    font-size: 30pt;
    text-align: center;
    margin-top: 70px;
    margin-bottom: 70px;

    color: #344214;
}

h2{ /* Overskriften i hvert kort samt overskrifter i burgermenu */
    font-family: Inter;
    font-weight: 300;
    font-size: 20pt;
    letter-spacing: 0.05px;

    margin-top: 30px;
    text-align: center;

    color: #344214;
}

h3{/* Underoverskrifterne i artiklerne */
    font-family: Inter;
    font-weight: 700;
    font-size: 12pt;
    color: #344214;
}

p{/* Brødteksten*/
    font-family: Inter;
    font-weight: 300;
    font-size: 11pt;
    line-height: 35px;
    margin-top: 30px;
    margin-bottom: 30px;
}


/* -----HEADER-----------------------------------------------------------------*/
header{
    display: flex;
    height:60px;
    
    justify-content: space-between;
    align-items: center;

    border-bottom: solid;
    border-width: 0.5px;
    border-color: black; 
    
    top: 0px;
    padding-right: 30px;
    width: 100%;

    background-color: white;

    position: sticky;
    z-index: 2;
}

#logo{
    height: 45px;
    margin-left: 20px;
    margin-top: 10px;
}

#laptopmenu{
    display: flex;
    justify-content: space-between;
}

.menu{
    font-family:'Nunito Sans', sans-serif;
    font-weight: 200;
    font-size: 12pt;
    color: black;
    padding: 20px;
}


#bookknap{
    font-family:'Nunito Sans', sans-serif;
    font-weight: 200;
    font-size: 12pt;
    background-color: #CC3F47;
    color: white;
    padding: 12px;
}

/*Hovereffekter i navbaren*/

header a:hover{
    color: #CC3F47;
}

#bookknap:hover{
    text-decoration:underline;
}

/* -----BURGERMENU-----------------------------------------------------------------*/
#burgermenubody{
    background-color: #344214;
}

#burgermenubody h2{
    color: white;
    font-weight: 200;
    padding: 20px;
    padding-bottom: 40px;

    border-bottom: solid;
    border-width: 0.5px;
    border-color:white; 
}

#burger{
    height:30px;
    padding: 5px;
}

#kryds{
    display: flex;
    justify-content: right;
    height: 33px;
    padding: 5px;
}

#burgermenubody a:hover{
    text-decoration: underline;
    color: white;
}

/* -----FORSIDE--------------------------------------------------------------------*/

#forsidebillede{
    width: 100%;
}

#velkommentekst{
    background-color: #EBEDE7;
    text-align: center;
    padding: 5%;
    margin-top: -5px;
}
.kort{
    display: flex;
    justify-content: center;
    text-align: center;
    flex-wrap: wrap;
    margin-top: 50px;
    color: black;
    margin-left: 7%;
    margin-right: 7%;
    padding-bottom: 4%;
}

.kort section{
    width: 350px;
    height: 580px;
    margin: 20px;

    background-color:#EBEDE7;
}


.kort section a{
    text-decoration: none;
    color: black;
    font-family: Inter;
    font-weight: 300;
    font-size: 13px;
    line-height: 35px;
}

.kort h2{
    padding-left: 2%;
    padding-right: 2%;
}

.kort p{
    padding-left:4%;
    padding-right: 4%;
}


.kort section:hover{
    opacity: 0.8;
}


#fjelstervangkort{
    display: flex;
    margin: auto;
    text-align: center;
    justify-content: center;
    padding-top: 5%;
}

/* -----INSPIRATIONSSITE----------------------------------------------------------------*/

.smørblomstbanner{
    width: 100%;
}

.laptopkvadrater{
    display: flex;
    justify-content:center;
    text-align: center;
    flex-wrap: wrap;
    margin-top: 50px;
    color: black;
}

.laptopkvadrater > section{
    width: 500px;
    height: 500px;
    margin: 15px;

    background-color:#EBEDE7;
}


.laptopkvadrater section a{
    text-decoration: none;
    color: black;
    font-family: Inter;
    font-weight: 300;
    font-size: 12pt;
    line-height: 35px;
}

.laptopkvadrater section p{
    padding-top: 8%;
    padding-left: 8%;
    padding-right: 8%;
}

.artikeloverskrift{
    margin-top: 30%;
}

.laptopkvadrater section:hover{
    opacity: 0.7;
}

/* -----ARTIKLER STYLES HER--------------------------------------------------------------------------*/
.øverste_artikelbillede{
    width: 100%;
    z-index: 0;
}

/* Overskriften på artiklerne står i denne hvide bjælke*/
.hvid_bjælke_til_artikler{
    position: absolute;
    margin-top:-100px;
    padding-top: 30px;
    margin-left:10%;

    width: 80%;
    background-color: white;
    z-index: 1;
    
}

/*Artiklernes indhold styles her*/
.brødteksten_i_artiklerne{
    display: absolute;
    width: 60%;
    margin-left:20%;
    margin-top: 130px;
}

.brødteksten_i_artiklerne h3{
    margin-top: 40px;
    margin-bottom: -20px;
}

/* Her styles billederne i artiklerne*/
.brødteksten_i_artiklerne section{
    display: flex;
    justify-content: center;
    margin: auto;
    padding-bottom: 40px;
}



/* -----FOOTER--------------------------------------------------------------------------*/

footer{
    display: flex;
    justify-content: space-between;
    width: 100%;
    bottom: 0;
    background-color: #344214;
    margin-top: 10%;
    color: white;
}

footer section{
    flex-wrap: wrap;
    margin-top: 12%;
    margin-bottom: 10%;
    margin-left: 7%;
    margin-right: 7%;
}

footer section a{
    text-decoration: none;
    color: white;
    font-family: Inter;
    font-weight: 300;
    font-size: 13px;
    line-height: 35px;
}

.footeroverskrifter{
    font-size: 20px;
    text-align: left;

    color: white;
}

#facebookikon{
    height:50px;
    margin-bottom: 6px;
    margin-left: -5px;
}

#instagramikon{
    height:63px;
    margin-left: -5px;
}

/* -----RESPONSIVE WEBDESIGN-------------------------------------------------------*/

/* LAPTOP: */
@media screen and (min-width:768px){
    /* Lap menu skal vises */
    #laptopmenu{
        display: block;
    }

    /* Burger menu skal skjules */
    #burger{
        display: none;
    }
}

/* MOBIL: */
@media screen and (max-width:768px){
     /* Laptopmenu skal skjules */
    #laptopmenu{
        display: none;
    }

    /* Burger menu skal vises */
    #burger{
        display: block;
    }

    /* Footer placeres vertikalt*/
    footer{
        display: inline-block;
        padding-left: 15%;
    }

    /* Overskriften i artiklerne rykkes ned og mindskes*/
    .hvid_bjælke_til_artikler{
        position:sticky;
        margin-top:0px;
        padding: 5px;
    }

    .hvid_bjælke_til_artikler h1{
        font-size: 29px;
    }

    /* Brødteksten får smallere margin*/
    .brødteksten_i_artiklerne{
        margin-top: 30px;
        width: 80%;
        margin-left:10%;
    }

    /* Billederne i artiklerne placeres vertikalt*/
    .brødteksten_i_artiklerne section{
        display: block;
        text-align: center;
    }



 }


